@import url('https://fonts.googleapis.com/css2?family=Gugi');
.avatar_class img
{
    height: 230 px;
    width: 200 px;
}
.mainPage
{
    width: 90%;
    height: 100vh;
    margin: auto;
    font-family: 'Gugi', cursive;
}
.mainPage h1{
    text-align: center;
    margin: 0;
    padding: 20px 0;
}